@font-face {
  font-family: "Jost";
  src: url("https://res.cloudinary.com/tumi/raw/upload/v1560815514/fonts/Jost-200.ttf")
    format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("https://res.cloudinary.com/tumi/raw/upload/v1560815514/fonts/Jost-300-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("https://res.cloudinary.com/tumi/raw/upload/v1560815514/fonts/Jost-400-Book.ttf")
    format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("https://res.cloudinary.com/tumi/raw/upload/v1560815514/fonts/Jost-500-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("https://res.cloudinary.com/tumi/raw/upload/v1560815514/fonts/Jost-600-Semi.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("https://res.cloudinary.com/tumi/raw/upload/v1560815514/fonts/Jost-700-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
